
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin/_AdminLayout.cshtml";
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>

<div class="content">
    <div class="panel-header bg-primary-gradient">
        <div class="page-inner py-5">
            <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                <div>
                    <h2 class="text-white pb-2 fw-bold">Account</h2>
                    <h5 class="text-white op-7 mb-2">Home/Admin/Account</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="page-inner mt--5">
        <div class="row mt--2">
            <div class="col-md-12">
                <div class="card full-height">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive table-hover table-sales">
                                    <table id="table_account" class="display">
                                        <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>UserName</th>
                                                <th>Email</th>
                                                <th>Admin</th>
                                                <th>Active</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var f in @ViewBag.ListAccount)
                                            {
                                                <tr>
                                                    <td>@f.AccountId</td>
                                                    <td>@f.UserName</td>
                                                    <td>@f.Email</td>
                                                    @if (f.Admin == true)
                                                    {
                                                        <td style="color: green">
                                                            <i class="fa fa-check" aria-hidden="true"></i>
                                                        </td>

                                                    }
                                                    else
                                                    {
                                                        <td style="color: red">
                                                            <i class="fa fa-times" aria-hidden="true"></i>

                                                        </td>
                                                    }
                                                    @if (f.Active == true)
                                                    {
                                                        <td style="color: green">
                                                            <i class="fa fa-check" aria-hidden="true"></i>
                                                        </td>

                                                    }
                                                    else
                                                    {
                                                        <td style="color: red">
                                                            <i class="fa fa-times" aria-hidden="true"></i>

                                                        </td>
                                                    }
                                                    <td>
                                                        <button class="btn btn-outline-info btn-sm" data-toggle="modal" data-target="#addModal" style="margin-right: 5px;" onclick="openUpdateModal(@f.AccountId)">
                                                            <i class="fas fa-edit"></i>
                                                        </button>
                                                        <button class="btn btn-outline-danger btn-sm" onclick="openDeleteModal(@f.AccountId)" data-toggle="modal" data-target="#deleteModal">
                                                            <i class="fas fa-trash-alt"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Insert</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <form id="bouqueti-form">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label class="required" for="inputEmail4">Email</label>
                                <input type="text" class="form-control contact-method" id="Email" placeholder="Email">
                            </div>
                            <div class="form-group col-md-6">
                                <label class="required" for="inputEmail4">Admin</label>
                                <input type="checkbox" style="width: 20px; height: 20px;" class="form-control contact-method" id="Admin">
                            </div>
                            <div class="form-group col-md-6">
                                <label class="required" for="inputEmail4">Active</label>
                                <input type="checkbox" style="width: 20px; height: 20px;" class="form-control contact-method" id="Active">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="submit()">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete this record</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h2 style="text-align:center">Are you sure want to delete this record ??</h2>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="deleteItem()">Confirm</button>
            </div>
        </div>
    </div>
</div>

<script>
    var id_record = 0;
    var dataUpdate = {};

    openAddModal = () => {
        id_record = 0;
        $('#Active').prop('checked', false);
        $('#Admin').prop('checked', false);
        $('#Email').val('');
    };

    // Example POST method implementation:
    async function postData(url = '', data = {}) {
        // Default options are marked with *
        const response = await fetch(url, {
            method: 'POST', // *GET, POST, PUT, DELETE, etc.
            mode: 'cors', // no-cors, *cors, same-origin
            cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
            credentials: 'same-origin', // include, *same-origin, omit
            headers: {
                'Content-Type': 'application/json'
                // 'Content-Type': 'application/x-www-form-urlencoded',
            },
            redirect: 'follow', // manual, *follow, error
            referrerPolicy: 'no-referrer', // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
            body: JSON.stringify(data) // body data type must match "Content-Type" header
        });
        return response.json(); // parses JSON response into native JavaScript objects
    }

    $(document).ready(function () {
        $('#table_account').DataTable();
    });

    submit = () => {
        var req = {
            AccountId: id_record,
            Email: $('#Email').val(),
            Admin: $('#Admin').prop('checked'),
            Active: $('#Active').prop('checked'),
        }

        postData('/Account/Save', req)
            .then((data) => {
                if (data.success) {
                    toastr.success('Successfully !');
                    $('.modal').modal('hide');
                    window.location.reload();
                }
                else {
                    toastr.warning('Failed !');
                    $('.modal').modal('hide');
                }
            });
    }

    openDeleteModal = (id) => {
        id_record = id;
    }



    openUpdateModal = (id) => {
        id_record = id;
        $.ajax({
            url: '/Account/FindById?accountId=' + id,
            type: 'GET',
            success: function (result) {
                if (result.success) {
                    $('#Email').val(result.data.Email);
                    $('#Admin').prop('checked', result.data.Admin);
                    $('#Active').prop('checked', result.data.Active);
                }
                else {
                    toastr.warning('Failed !');
                    $('.modal').modal('hide');
                }
            }
        });
    }

    deleteItem = () => {
        $.ajax({
            url: '/Account/Delete?accountId=' + id_record,
            type: 'DELETE',
            success: function (result) {
                if (result.success) {
                    toastr.success('Successfully !');
                    $('.modal').modal('hide');
                    window.location.reload();
                }
                else {
                    toastr.warning('Failed !');
                    $('.modal').modal('hide');
                }
            }
        });
    }

</script>
